@import '../less/_clearfix.less';
@import '../less/_ellipsis.less';
@import '../less/_noScroll.less';
@import '../less/_onePxBorder.less';
@import '../less/_px2rem.less';
@import '../less/_center.less';
@import '../less/_gradient.less';
@import '../less/_triangle.less';

#example {
  .clear-fix-demo{
    .container{
      border: 2px solid orange;
      padding: 10px;
      .float-left{
        border: 2px dashed black;
        float: left;
        width: 100px;
      }
      .text {
        border: 2px solid blue;
      }
      &.clearfix{
        .clearfix()
      }
    }
    .brother{
      margin-top: 10px;
      border: 2px solid palevioletred;
    }
  }
  .ellipsis-demo{
    .one-line-ellipsis{
      margin-top: 10px;
      width: 100px;
      .ellipsis();
      border: 2px solid peru;
    }
    .multiple-line-ellipsis{
      margin-top: 10px;
      width: 100px;
      .ellipsis(3);
      border: 2px solid peru;
    }
  }
  .noscrollbar-demo{
    margin-top: 10px;
    overflow: scroll;
    height: 100px;
    width: 100px;
    border: 2px solid purple;
    .no-scrollbar();
  }
  .one-px-border-demo{
    .bottom-border{
      .one-px-border(bottom, dashed, red);
      width: 100px;
      margin-top: 10px;
    }
    .full-border{
      .full-px-border(red);
      width: 100px;
      margin-top: 10px;
    }
  }
  .px-2-rem-demo{
    .px2rem(height, 400px);
    .px2rem(width, 200px);
    .px2rem(padding, 5px 10px);
    // margin: .px2rem(10px);
  }
  .center-demo{
    // 因为center函数是使用相对定位来实现的，所以其父元素记得设置relative。
    position: relative;
    border: 1px solid yellowgreen;
    width: 400px;
    height: 400px;
    .both{
      width: 100px;
      height: 100px;
      border: 1px solid goldenrod;
      .center(both)
    }
    .vertical{
      width: 100px;
      height: 100px;
      border: 1px solid goldenrod;
      .center(vertical)
    }
    .horizontal{
      width: 100px;
      height: 100px;
      border: 1px solid goldenrod;
      .center(horizontal)
    }
  }
  .gradient-demo{
    .vertical{
      margin-top: 10px;
      width: 100px;
      height: 100px;
      border: 1px solid grey;
      .background-gradient(rgba(255,146,156,1), rgba(216,0,0,1), vertical)
    }
    .horizontal{
      margin-top: 10px;
      width: 100px;
      height: 100px;
      border: 1px solid grey;
      .background-gradient(rgba(255,146,156,1), rgba(216,0,0,1), horizontal)
    }
    .radius{
      margin-top: 10px;
      width: 100px;
      height: 100px;
      border: 1px solid grey;
      .background-gradient(rgba(255,146,156,1), rgba(216,0,0,1), radius)
    }
  }
  .triangle-demo{
    margin-top: 10px;
    .left{
      .triangle(left, 10px);
      margin-bottom: 10px;
    }
    .right{
      .triangle(right, 10px);
      margin-bottom: 10px;
    }
    .down{
      .triangle(down, 10px);
      margin-bottom: 10px;
    }
    .up{
      .triangle(up, 10px);
      margin-bottom: 10px;
    }
  }
}
